
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
    .card-footer, .card-body {
        padding: 0.5rem;
    }
}
.jeasy-card {
    box-shadow: 1px 2px 5px #999999;
    transition: all .4s;
}
